data/zephyr-7b-dpo-lora/model-00001-of-00002.safetensors
data/zephyr-7b-dpo-lora/model-00002-of-00002.safetensors
data/zephyr-7b-dpo-lora/pytorch_model-00001-of-00002.bin
data/zephyr-7b-dpo-lora/pytorch_model-00002-of-00002.bin
data/zephyr-7b-dpo-lora/pytorch_model.bin.index.json
data/zephyr-7b-dpo-lora/special_tokens_map.json
data/zephyr-7b-dpo-lora/tokenizer_config.json
data/zephyr-7b-dpo-lora/tokenizer.json
data/zephyr-7b-dpo-lora/config.json
data/zephyr-7b-dpo-lora/generation_config.json
data/zephyr-7b-dpo-lora/model.safetensors.index.json

data/custom_pref_data_7b.pickle
data/custom_pref_data_13b.pickle
data/custom_pref_data_70b.pickle

data/dpo_modal-7b/
data/dpo_model-7b/all_results.json
data/dpo_model-7b/train_results.json
data/dpo_model-7b/trainer_state.json
data/dpo_model-7b/checkpoint-2900/adapter_config.json
data/dpo_model-7b/checkpoint-2900/adapter_model.safetensors
data/dpo_model-7b/checkpoint-2900/optimizer.pt
data/dpo_model-7b/checkpoint-2900/README.md
data/dpo_model-7b/checkpoint-2900/rng_state.pth
data/dpo_model-7b/checkpoint-2900/scheduler.pt
data/dpo_model-7b/checkpoint-2900/special_tokens_map.json
data/dpo_model-7b/checkpoint-2900/tokenizer_config.json
data/dpo_model-7b/checkpoint-2900/tokenizer.json
data/dpo_model-7b/checkpoint-2900/trainer_state.json
data/dpo_model-7b/checkpoint-2900/training_args.bin
data/dpo_model-13b/all_results.json
dpo_training.py
data/dpo_model-13b/train_results.json
data/dpo_model-13b/trainer_state.json
data/dpo_model-13b/checkpoint-2900/adapter_config.json
data/dpo_model-13b/checkpoint-2900/adapter_model.safetensors
data/dpo_model-13b/checkpoint-2900/optimizer.pt
data/dpo_model-13b/checkpoint-2900/README.md
data/dpo_model-13b/checkpoint-2900/rng_state.pth
data/dpo_model-13b/checkpoint-2900/scheduler.pt
data/dpo_model-13b/checkpoint-2900/special_tokens_map.json
data/dpo_model-13b/checkpoint-2900/tokenizer_config.json
data/dpo_model-13b/checkpoint-2900/tokenizer.json
data/dpo_model-13b/checkpoint-2900/trainer_state.json
data/dpo_model-13b/checkpoint-2900/training_args.bin
data/dpo_model-70b/all_results.json
data/dpo_model-70b/train_results.json
data/dpo_model-70b/trainer_state.json
data/dpo_model-70b/checkpoint-2900/adapter_config.json
data/dpo_model-70b/checkpoint-2900/adapter_model.safetensors
data/dpo_model-70b/checkpoint-2900/optimizer.pt
data/dpo_model-70b/checkpoint-2900/README.md
data/dpo_model-70b/checkpoint-2900/rng_state.pth
data/dpo_model-70b/checkpoint-2900/scheduler.pt
data/dpo_model-70b/checkpoint-2900/special_tokens_map.json
data/dpo_model-70b/checkpoint-2900/tokenizer_config.json
data/dpo_model-70b/checkpoint-2900/tokenizer.json
data/dpo_model-70b/checkpoint-2900/trainer_state.json
data/dpo_model-70b/checkpoint-2900/training_args.bin
data/zephyr-7b-dpo-lora/all_results.json
data/zephyr-7b-dpo-lora/train_results.json
data/zephyr-7b-dpo-lora/trainer_state.json
data/benchmark_data/bbq/Age.json
data/benchmark_data/bbq/Disability_status.json
data/benchmark_data/bbq/Gender_identity.json
data/benchmark_data/bbq/Nationality.json
data/benchmark_data/bbq/Physical_appearance.json
data/benchmark_data/bbq/Race_ethnicity.json
data/benchmark_data/bbq/Race_x_gender.json
data/benchmark_data/bbq/Race_x_SES.json
data/benchmark_data/bbq/Religion.json
data/benchmark_data/bbq/SES.json
data/benchmark_data/bbq/Sexual_orientation.json
.env
